<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Manjaro</vendor>
  <vendor_url>http://manjaro.org/</vendor_url>
  <icon_name>package-x-generic</icon_name>
  <action id="org.manjaro.pamac.commit">
    <description gettext-domain="pamac">Install, update, or remove packages</description>
    <description xml:lang="zh_TW">安裝、更新、移除軟體包</description>
    <description xml:lang="zh_CN">安装、更新或移除软件包</description>
    <description xml:lang="zh">安装、更新或移除软件包</description>
    <description xml:lang="uz">Paketlarni o'rnatish, yangilash yoki o'chirish</description>
    <description xml:lang="uk">Встановлення, оновлення або видалення пакунків</description>
    <description xml:lang="tr">Paketleri kur, güncelle veya kaldır</description>
    <description xml:lang="sv">Installera, uppdatera eller ta bort paket</description>
    <description xml:lang="sr_RS@latin">Instaliraj, nadogradi ili ukloni pakete</description>
    <description xml:lang="sr_RS">Instaliraj, nadogradi ili ukloni pakete</description>
    <description xml:lang="sr@latin">Instaliraj, nadogradi ili ukloni pakete</description>
    <description xml:lang="sr">Instaliraj, nadogradi ili ukloni pakete</description>
    <description xml:lang="sq_AL">Instaloni, përditësoni ose hiqni paketat</description>
    <description xml:lang="sq">Instaloni, përditësoni ose hiqni paketat</description>
    <description xml:lang="sl_SI">Namesti, posodobi ali odstrani pakete</description>
    <description xml:lang="sl">Namesti, posodobi ali odstrani pakete</description>
    <description xml:lang="sk">Inštalovanie, aktualizovanie alebo odstránenie balíkov</description>
    <description xml:lang="si">ඇසුරුම් ස්ථාපනය, යාවත්කාල, හෝ ඉවත් කරන්න</description>
    <description xml:lang="ru">Установка, обновление или удаление пакетов</description>
    <description xml:lang="ro">Instalează, actualizează sau șterge pachete</description>
    <description xml:lang="pt_PT">Instalar, atualizar ou remover pacotes</description>
    <description xml:lang="pt_BR">Instalar, atualizar ou remover pacotes</description>
    <description xml:lang="pt">Instalar, atualizar ou remover pacotes</description>
    <description xml:lang="pl">Instaluj, uaktualniaj lub usuwaj pakiety</description>
    <description xml:lang="nl_NL">Installeer, update of verwijder pakketten</description>
    <description xml:lang="nl_BE">Installeer, update of verwijder pakketten</description>
    <description xml:lang="nl">Installeer, update of verwijder pakketten</description>
    <description xml:lang="ne">प्याकेजहरू स्थापना गर्नुहोस्, अद्यावधिक गर्नुहोस् वा हटाउनुहोस् </description>
    <description xml:lang="nb">Installer, oppdater eller fjern pakker</description>
    <description xml:lang="ms">Memasang, mengemas kini atau membuang pakej</description>
    <description xml:lang="lt">Įdiegti, atnaujinti ar šalinti paketus</description>
    <description xml:lang="ko">패키지 설치, 업데이트 또는 제거하기</description>
    <description xml:lang="ka">პაკეტების დაყენება, განახლება ან მოცილება</description>
    <description xml:lang="ja">パッケージのインストール、アップデート、削除</description>
    <description xml:lang="it">Installa, aggiorna o rimuovi pacchetti</description>
    <description xml:lang="is">Setja upp, uppfæra eða eyða pökkum</description>
    <description xml:lang="ie">Installar, remover e actualisar paccages</description>
    <description xml:lang="id">Pasang, perbarui, atau hapus paket</description>
    <description xml:lang="hu">Csomagok telepítése, frissítése vagy eltávolítása</description>
    <description xml:lang="hr">Instalirajte, ažurirajte ili uklonite pakete</description>
    <description xml:lang="hi_IN">पैकेज इंस्टॉल, अपडेट करना, या हटाना</description>
    <description xml:lang="hi">पैकेज इंस्टॉल, अपडेट करना, या हटाना</description>
    <description xml:lang="he_IL">התקנה, עדכון, או הסרת חבילות</description>
    <description xml:lang="he">התקנה, עדכון, או הסרת חבילות</description>
    <description xml:lang="gl_ES">Instalar, actualizar ou eliminar paquetes</description>
    <description xml:lang="gl">Instalar, actualizar ou eliminar paquetes</description>
    <description xml:lang="fr">Installer, mettre à jour ou supprimer des paquets</description>
    <description xml:lang="fi">Asenna, päivitä tai poista paketteja</description>
    <description xml:lang="fa_IR">نصب، به‌روزرسانی یا حذف بسته‌ها</description>
    <description xml:lang="fa">نصب، به‌روزرسانی یا حذف بسته‌ها</description>
    <description xml:lang="eu">Instalatu, eguneratu edo kendu paketeak</description>
    <description xml:lang="et">Paigalda, uuenda või eemalda pakette</description>
    <description xml:lang="es_SV">Instala, actualiza o elimina paquetes</description>
    <description xml:lang="es_MX">Instalar, actualizar o remover paquetes</description>
    <description xml:lang="es_ES">Instala, actualiza o elimina paquetes</description>
    <description xml:lang="es_AR">Instala, actualiza o remueve paquetes</description>
    <description xml:lang="es_419">Instalar, actualizar o desinstalar paquetes</description>
    <description xml:lang="es">Instalar, actualizar o eliminar paquetes</description>
    <description xml:lang="eo">Instali, ĝisdatigi aŭ forigi pakaĵojn</description>
    <description xml:lang="el_GR">Εγκατάσταση, αναβάθμιση ή αφαίρεση πακέτων</description>
    <description xml:lang="el">Εγκατέστησε, αναβάθμισε ή διέγραψε πακέτα</description>
    <description xml:lang="de_DE">Pakete installieren, aktualisieren oder entfernen</description>
    <description xml:lang="de_CH">Pakete installieren, aktualisieren oder entfernen</description>
    <description xml:lang="de">Pakete installieren, aktualisieren oder entfernen</description>
    <description xml:lang="da">Installér, opdatér eller fjern pakker</description>
    <description xml:lang="cy">Gosod, diweddaru, neu dynnu pecynnau</description>
    <description xml:lang="cs">Instalovat, aktualizovat nebo odstranit balíčky</description>
    <description xml:lang="ca@valencia">Instal·la, actualitza o suprimix paquets</description>
    <description xml:lang="ca">Instal·leu, actualitzeu o suprimiu paquets.</description>
    <description xml:lang="bn">প্যাকেজ ইনস্টল করুন, আপডেট করুন বা অপসারণ করুন</description>
    <description xml:lang="bg">Инсталиране, обновяване или премахване на пакети</description>
    <description xml:lang="be">Усталяваць, абнавіць, альбо выдаліць пакункі</description>
    <description xml:lang="az_AZ">Paketləri quraşdırın, yeniləyin və ləğv edin</description>
    <description xml:lang="az">Paketləri quraşdırın, yeniləyin və ləğv edin</description>
    <description xml:lang="ast">Instalación, anovamientu o desaniciu de paquetes</description>
    <description xml:lang="ar">تنصيب, تحديث, أو إزالة حزم</description>
    <description xml:lang="af">Installeer, werk op of verwyder pakkette </description>
    <message gettext-domain="pamac">Authentication is required to install, update, or remove packages</message>
    <message xml:lang="zh_TW">安裝、更新或移除軟體包必須使用者驗證</message>
    <message xml:lang="zh_CN">安装、更新或移除软件包需要身份验证</message>
    <message xml:lang="zh">安装、更新或移除软件包需要身份验证</message>
    <message xml:lang="uk">Потрібна аутентифікація для встановлення, оновлення або видалення пакунків</message>
    <message xml:lang="tr">Paketleri yüklemek, güncellemek veya kaldırmak için kimlik doğrulaması gerekli</message>
    <message xml:lang="sv">Autentisering krävs för att installera, uppdatera eller ta bort paket</message>
    <message xml:lang="sr_RS@latin">Potrebna je autentikacija za instaliranje, nadogradnju ili uklanjanje paketa</message>
    <message xml:lang="sr_RS">Potrebna je autentikacija za instaliranje, nadogradnju ili uklanjanje paketa</message>
    <message xml:lang="sr@latin">Potrebna je autentikacija za instaliranje, nadogradnju ili uklanjanje paketa</message>
    <message xml:lang="sr">Potrebna je autentikacija za instaliranje, nadogradnju ili uklanjanje paketa</message>
    <message xml:lang="sq_AL">Kërkohet vërtetimi për të instaluar, përditësuar ose hequr paketa</message>
    <message xml:lang="sq">Kërkohet vërtetimi për të instaluar, përditësuar ose hequr paketa</message>
    <message xml:lang="sl_SI">Za namestitev, posodobitev ali odstranjevanje paketov je potrebna overitev</message>
    <message xml:lang="sl">Za namestitev, posodobitev ali odstranjevanje paketov je potrebna overitev</message>
    <message xml:lang="sk">Požaduje sa overenie totožnosti na inštalovanie, aktualizovanie alebo odstránenie balíkov</message>
    <message xml:lang="ru">Требуется аутентификация для установки, обновления или удаления пакетов</message>
    <message xml:lang="pt_PT">É necessária autenticação para instalar, atualizar ou remover pacotes</message>
    <message xml:lang="pt_BR">Uma autenticação é necessária para instalar, atualizar ou remover pacotes</message>
    <message xml:lang="pt">É necessária autenticação para instalar, atualizar ou remover pacotes</message>
    <message xml:lang="pl">Aby zainstalować, zaktualizować lub usunąć pakiety wymagana jest autoryzacja</message>
    <message xml:lang="nl_NL">Voer je wachtwoord in om pakketten te installeren, updaten of verwijderen</message>
    <message xml:lang="nl_BE">Voer je wachtwoord in om pakketten te installeren, updaten of verwijderen</message>
    <message xml:lang="nl">Voer je wachtwoord in om pakketten te installeren, updaten of verwijderen</message>
    <message xml:lang="ne">प्याकेजहरू स्थापना, अद्यावधिक वा हटाउन प्रमाणीकरण आवश्यक छ </message>
    <message xml:lang="nb">Autentisering er påkrevd for å kunne installere, oppdatere eller fjerne pakker</message>
    <message xml:lang="ms">Pengesahan diperlukan untuk memasang, mengemas kini atau membuang pakej</message>
    <message xml:lang="lt">Norint įdiegti, atnaujinti ar šalinti paketus, reikia nustatyti tapatybę</message>
    <message xml:lang="ko">패키지를 설치, 업데이트 또는 제거하려면 인증이 필요합니다</message>
    <message xml:lang="ja">パッケージのインストール、アップデート、削除には認証が必要です</message>
    <message xml:lang="it">Autenticazione richiesta per installare, aggiornare o rimuovere pacchetti</message>
    <message xml:lang="is">Auðkenningar krafist til að setja inn, uppfæra eða eyða pökkum</message>
    <message xml:lang="ie">Autentication es besonat por installar, remover e actualisar paccages</message>
    <message xml:lang="id">Autentikasi diperlukan untuk memasang, memperbarui, atau menghapus paket</message>
    <message xml:lang="hu">A csomagok telepítéséhez, frissítéséhez vagy eltávolításához hitelesítés szükséges</message>
    <message xml:lang="hr">Za instaliranje, ažuriranje ili uklanjanje paketa potrebna je provjera autentičnosti</message>
    <message xml:lang="hi_IN">पैकेज इंस्टॉल, अपडेट करने, या हटाने हेतु प्रमाणीकरण आवश्यक है</message>
    <message xml:lang="hi">पैकेज इंस्टॉल, अपडेट करने, या हटाने हेतु प्रमाणीकरण आवश्यक है</message>
    <message xml:lang="he_IL">נדרש אימות כדי להתקין, לעדכן, או להסיר חבילות</message>
    <message xml:lang="he">נדרש אימות כדי להתקין, לעדכן, או להסיר חבילות</message>
    <message xml:lang="gl_ES">Autenticación precisa para instalar, actualizar ou eliminar paquetes</message>
    <message xml:lang="gl">Autenticación precisa para instalar, actualizar ou eliminar paquetes</message>
    <message xml:lang="fr">Une authentification est requise pour installer, mettre à jour ou supprimer des paquets</message>
    <message xml:lang="fi">Pakettien asennus, päivittäminen, tai poistaminen vaatii todennusta</message>
    <message xml:lang="fa_IR">برای نصب، به‌روزرسانی یا حذف بسته‌ها به تأیید هویت نیاز است</message>
    <message xml:lang="fa">برای نصب، به‌روزرسانی یا حذف بسته‌ها به تأیید هویت نیاز است</message>
    <message xml:lang="eu">Autentifikazioa behar da paketeak instalatu, eguneratu edo kentzeko</message>
    <message xml:lang="et">Pakettide paigaldamiseks, uuendamiseks või eemaldamiseks on vajalik autentimine</message>
    <message xml:lang="es_SV">Se requiere autenticación para instalar, actualizar o eliminar paquetes</message>
    <message xml:lang="es_MX">Se requiere autenticación para instalar, actualizar o remover paquetes</message>
    <message xml:lang="es_ES">Se requiere autenticación para instalar, actualizar o eliminar paquetes</message>
    <message xml:lang="es_AR">La autenticación es requerida para instalar, actualizar o remover paquetes</message>
    <message xml:lang="es_419">Es necesario autenticarse para instalar, actualizar o desinstalar paquetes</message>
    <message xml:lang="es">Se requiere autentificación para instalar, actualizar o eliminar paquetes</message>
    <message xml:lang="el_GR">Απαιτείται έλεγχος ταυτότητας για την εγκατάσταση, ενημέρωση ή αφαίρεση πακέτων</message>
    <message xml:lang="el">Απαιτείται έλεγχος ταυτότητας για την εγκατάσταση, ενημέρωση ή κατάργηση πακέτων</message>
    <message xml:lang="de_DE">Eine Authentifizierung ist erforderlich, um Pakete zu installieren, aktualisieren oder zu entfernen</message>
    <message xml:lang="de_CH">Eine Authentifizierung ist erforderlich, um Pakete zu installieren, aktualisieren oder zu entfernen</message>
    <message xml:lang="de">Authentifizierung wird zur Installation, Aktualisierung oder Entfernung von Paketen benötigt</message>
    <message xml:lang="da">Autorisation påkrævet for at installere, opdatere eller fjerne pakker</message>
    <message xml:lang="cy">Rhaid dilysu er mwyn gosod, diweddaru, neu dynnu pecynnau</message>
    <message xml:lang="cs">K instalování, aktualizaci nebo odstranění balíčků je potřeba autentizace</message>
    <message xml:lang="ca@valencia">Cal autenticació per a instal·lar, actualitzar o eliminar paquets</message>
    <message xml:lang="ca">Cal autenticació per instal·lar, actualitzar o suprimir paquets.</message>
    <message xml:lang="bn">প্যাকেজ ইনস্টল, আপডেট করতে বা অপসারণ করতে প্রমাণীকরণের প্রয়োজন</message>
    <message xml:lang="bg">Изисква се удостоверяване, за инсталиране, обновяване или премахване на пакетите</message>
    <message xml:lang="be">Для ўсталёўкі, абнаўлення, ці выдалення пакункаў патрабуецца аўтэнтыфікацыя</message>
    <message xml:lang="az_AZ">Paketləri quraşdırmaq, yeniləmək və ləğv etmək üçün kimlik doğrulaması tələb olunur</message>
    <message xml:lang="az">Paketləri quraşdırmaq, yeniləmək və ləğv etmək üçün identifikasiya tələb olunur</message>
    <message xml:lang="ast">Ríquese l'autenticación pa instalar, anovar o desaniciar paquetes</message>
    <message xml:lang="ar">الاستيثاق مطلوب للتنصيب، التحديث، أو حذف الحزم</message>
    <message xml:lang="af">Stawing word vereis om pakkette te installeer, op te dateer of te verwyder </message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
